canvas {

	position: absolute;
	top: 0;
	left: 0;
  z-index: -1;
}

#wrapper {
  height: 100%;
  width: 100%;
  text-align: center;
  display: table;
  position: absolute;
  flex-flow: column-reverse;
  z-index: 1;
}

#title{
	display: table-cell;
	vertical-align: middle;
}

#title h2{
	color: #E3E3E3;
	font-size: 55px;
	font-weight: lighter;
	font-family: 'Roboto';
}

#title h3{
	color: #E3E3E3;
	font-weight: normal;
	font-size: 18px;
	font-family: 'Nunita',sans-serif;
}

ion-icon {
  font-size: 40px;
  color: #E3E3E3;
  padding-top: 10px;
 	padding-right: 20px;
 	padding-bottom: 5px;
}
a:hover ion-icon{
  font-size: 45px;
  opacity: 0.7;
  color: #525151;
 }
